p.caption {
  font-size: 0.8em;
  text-align: center;
  font-weight: normal;
}

caption {
  color: grey;
  font-size: 0.8em;
} 


body {
  font-size: 11pt;
}

td {
  font-size: 9pt;
}

th {
  font-size: 0.8em;
  color: grey;
}

code {
  font-family: Hack, Consolas, sans-serif;
  font-size: 11px;
}

pre {
  font-size: 11px;
}

img[alt=roc-diagram] {
  position: relative;
  left: 50%;
  margin-left: -150px;
}